@charset "ISO-8859-1";
 
body{
    background: url(images/lgbackground.jpg);
    background-size: cover;
    filter: blur();
    
}
div,img{
    width: 20px;
    height: 25px;
}
div,input{
    height: 30px;
    width: 200px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
}
.login{
    margin-left: 120px;
    margin-top: 50px;
    height: 420px;
    width: 300px;
    padding-left: 40px;
    padding-top: 20px;
    background-color: rgb(238, 241, 241);
    border-radius: 30px ;  
    position: absolute;
    left: 400px;
    top: 50px;
    box-shadow: 0 0 5px 5px rgba(141, 133, 128, 0.849); 
       
}
.pngtitle{
    margin-left: 100px;
   
}
.loginhere{
    margin-left: 60px;
}
#trainpng{
    border-radius: 50%;
    border: 1px solid black;
    height: 70px;
    width: 60px;
}
#buttonlogin{
    margin-left: 80px;
}
button{
    height: 35px;
    width: 80px;
    background-color: rgb(127, 127, 221);
    outline: none;
    border: none;

}
table,th{
    border-spacing: 5px;
}
button:hover{
    background-color: rgb(247, 112, 112);
}
a:hover{
    background-color:  rgb(247, 112, 112);
}
a{
    text-decoration: none;
}
#signup{
    border: 2px solid black;
   font-weight:bolder;
   font-size: 20px;

}